/*
    href: https://jashburn00.github.io/stylesheets/mountain.css
*/

* {
    margin: 10px;
}

html{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, blanchedalmond, rgb(241, 214, 162));
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Courier New';
}

p {
    font-family: 'Lucida Sans';
}

a {
    font-family: 'Lucida Sans';
    color:rgb(117, 72, 20);
    margin-right: 10px;
}

nav {
    background-image: linear-gradient(to top, rgb(41, 70, 18), rgb(42, 93, 29));
    padding: 10px;
    margin: 0px;
    width: 100%
}

.navbtn {
    padding: 10px;
    display: inline-block;
    background-color: rgb(215, 253, 198);
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0px;
}

.bold {
    font-weight: bold;
}

strong {
    margin: 0px;
}

.media { /* for photos and videos */
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 8px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: inline-block;
    padding: 0px;
}

.caption {
    display: block;
    margin-left: 20px;
    position: relative;
    background-color:rgb(252, 217, 171);
    width: 50%;
    top: 80%;
    border: none;
    border-radius: 8px;
    padding: 1px;
    opacity: 0.7;
}

iframe {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.table-wrapper {
    border: 2px solid gray;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

table {
    border: none;
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    
}

th, td {
    border: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Lucida Sans';
    text-align: center;
}

th {
    background-color: rgb(255, 185, 159);
}

tr {
    background-color: bisque;
}

li {
    color: rgb(60, 68, 35);
    font-family: 'Lucida Sans';
}
